extends layout

block content
  div.rounded(class ='offers')
    .row
      each o,i in offer
          if(i % 2 == 0)
            div.rounded(class = 'column')
              a(href="/businessuser/"+o.OfferID)= o.OfferName 
          if(i % 2 != 0)  
            div.rounded(class = 'column')
              a(href="/businessuser/"+o.OfferID)= o.OfferName 
                    
  form.mx-auto.rounded#add-offer-form(method='POST', action='/businessuser/add')
    .form-group.row
      label.col-sm-4.col-form-label Offer title:
      .col-sm-8
       input.form-control(name='Name', type='text')
    .form-group.row
      label.col-sm-4.col-form-label Quantity:
      .col-sm-8
       input.form-control(name='Quantity', type = 'text')
    .form-group.row
      label.col-sm-4.col-form-label Discount (%):
      .col-sm-8
       input.form-control(name='Discount', type = 'text')
    .form-group.row
      label.col-sm-4.col-form-label Original price:
      .col-sm-8
       input.form-control(name='OriginalPrice', type = 'text')
    .form-group.row
      label.col-sm-4.col-form-label Category:
      .col-sm-8
       select.form-control(name='CategoryID', type = 'text')
        option(value = "" selected disabled hidden)
        option(value = 1) Ruoka ja Juoma
        option(value = 2) Elintarvikkeet
        option(value = 3) Elektroniikka
        option(value = 4) Vaatteet
        option(value = 5) Autoilu
        option(value = 6) Käyttötavarat
        option(value = 7) Kauneus ja terveys
        option(value = 8) Lelut
        option(value = 9) Vapaa-aika
    .form-group.row
      label.col-sm-4.col-form-label Description:
      .col-sm-8
       textarea.form-control(name='Description', type = 'text', rows='3')
    br
    input.btn.btn-success.col-sm-12#add-offer-button(type='submit',value='Add offer')
