extends layout

block content
  div(class ='offers')
    div(class = 'row')
      each o,i in offer
          if(i % 2 == 0)
            div(class = 'column')
              a(href="/businessuser/"+o.OfferID)= o.OfferName 
          if(i % 2 != 0)  
            div(class = 'column')
              a(href="/businessuser/"+o.OfferID)= o.OfferName 
        
  form(method='POST', action='/businessuser/add')
    #form-group
      label Offer title:
      input(name='Name', type='text')
    #form-group
      label Description:
      textarea(name='Description', type = 'text')
    #form-group
      label Quantity:
      input(name='Quantity', type = 'text')
    #form-group
      label Discount (percentage):
      input(name='Discount', type = 'text')
    #form-group
      label Original price:
      input(name='OriginalPrice', type = 'text')
    #form-group
      label Category:
      select(name='CategoryID', type = 'text')
        option(value = "" selected disabled hidden)
        option(value = 1) Ruoka ja Juoma
        option(value = 2) Elintarvikkeet
        option(value = 3) Elektroniikka
        option(value = 4) Vaatteet
        option(value = 5) Autoilu
        option(value = 6) Käyttötavarat
        option(value = 7) Kauneus ja terveys
        option(value = 8) Lelut
        option(value = 9) Vapaa-aika
    br
    input(type='submit',value='Submit')
