doctype html
html
  head
    title HourDeals
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css2/style.css')
    //Fonts and Icons
    // Fonts & Icons
    link(href='https://fonts.googleapis.com/css?family=Engagement', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Nunito', rel='stylesheet')
  body#body
    ul.nav.navbar-dark.justify-content-center#navbar
      li.nav-item
        a.nav-link.active(href='/businessuser')
          i.fa.fa-home
      li.nav-item
        h1.navbar-brand Hour Deals
      li.nav-item
        a.nav-link.active(href='/businessuser/logout')
          i.fa.fa-sign-out

    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      .container  
      br 
      hr
      footer.sticky-bottom
        p Copyright &copy 2018
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='/bower_components/jquery/dist/jquery.js')  
  script(src='/js/js.js')
