extends layout

block content
  h1 Register
  form(method='POST' action='/register')
    #form-group
      label Company name:
      input(name='companyname', type = 'text')
    #form-group
      label City name:
      input(name='city', type = 'text')
    #form-group
      label Address:
      input(name='address', type = 'text')
    #form-group
      label Postal code:
      input(name='postcode', type = 'text')
    #form-group
      label Password:
      input(name='password', type = 'password')
    #form-group
      label Verify password :
      input(name='password2', type= "password")
    br
    input(type='submit', value='Submit')  
