@font-face{
    font-family: 'Engagement';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/Engagement-Regular.ttf');
}

@font-face {
    font-family: 'Dosis';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/Dosis-ExtraLight.ttf');
}

@keyframes backg {
  0%    {opacity: 0;}
  100%  {opacity: 1;}

}

body{
  font-family: Dosis, Engagement;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0 auto;
  background-color:#484848;
}

/*Global*/
.container{
  width: 70%;
  margin:auto;
  overflow: hidden;
}

.headerbar{

}

ul{
  margin: 0;
  padding: 0;
}

.button_1{
  height: 38px;
  background:  #484848;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  color:#ffffff;
  border-radius: 4px;
  font-family: Engagement;
  font-size: 30px;
  margin-left: 10px;
}

.button_1:hover{
  background: #ffffff;
  color: #484848;

}


.button_2{
  height: 30px;
  background:  #484848;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff;
  border-radius: 4px;
  font-family: Engagement;
  font-size: 20px;
}

.button_2:hover{
  background: #ffffff;
  color: #484848;

}


/*Header*/

header{
  margin: 0 auto;
  background:#202020;
  color:#ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom:#484848 3px solid;

}

header a{
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-family: Dosis;
}


header #navbar li{
  float: left;
  display: inline;
  padding: 0 20px 0px 20px;
}

header #navsome li{
  float: right;
  display: inline;
  padding: 0 20px 0px 20px;
}



header #branding h1{
  margin: -25px 0;
  font-family: Engagement;
  font-size: 60px;
  text-shadow: 2px 2px 5px #181818;
  position: absolute;
  text-align: center;
  left: 40%;
  right: 40%;

}

header .navbar{
  float: left;
  margin: 0 auto;
}

header a .navsome{
  float: right;
  margin: 0 auto;
  text-align: center;
}

header a:hover{
  color: #A0A0A0;
}

#stories{
  background:url('../img/gethooked.jpeg') no-repeat 0;
  margin: none;
  padding: 0;
  color: #ffffff;
  min-height: 90vh;
  background-position: center;
  background-size: cover;
  animation-name: backg;
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#stories .storybox{

}

footer{
  padding: 20px;
  margin-top: none;
  color: #ffffff;
  background: #202020;
  text-align: center;
  font-size: 15px;
  border-top:#484848 3px solid;
}
